@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;400;700&display=swap");

:root {
  --pink: #ffafbc;
  --blue: #a2d9e0;
  --green: #93e2c8;
  --orange: ##f9b089;
  --withe: #f6f6f6;
  --gray-l: #928f8f;
  --gray-d: #625d5d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--pink);
  color: var(--withe);
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#box {
  width: 300px;
  background-color: var(--blue);
  padding: 40px 0;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

#box #searchbox {
  padding: 10px 30px;
  position: relative;
}
#box #searchbox input {
  padding: 12px 18px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 16px;
}

#box #searchbox i {
  color: black;
  position: absolute;
  right: 13%;
  top: 31%;
  cursor: pointer;
  padding: 5px;
}

#box #description {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 10%;
  margin-top: 2px;
}

#box #error {
  text-align: left;
  margin-left: 45px;
  margin-top: 0;
  font-size: 13px;
  font-weight: 400;
  color: var(--gray-d);
  display: none;
}
#box #image {
  margin: 15px 0;
  padding-top: 20px;
}
#box #image img {
  width: 60%;
  animation: move 5s linear infinite;
}

#box #detail {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

#box #detail #left {
  margin-top: 0;
  margin-left: 22px;
  text-align: left;
}

#box #detail #left #city {
  font-size: 18px;
}
#box #detail #left #temp {
  font-size: 55px;
  font-weight: 400;
}

#box #detail #right div {
  background-color: var(--withe);
  margin-left: 11px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#box #detail #right .title {
  font-size: 10px;
  font-weight: 300;
  margin: 2px 0;
  color: var(--gray-l);
}
#box #detail #right .value {
  color: #121212;
  font-size: 12px;
}
#box #detail #right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
}

@keyframes move {
  50% {
    transform: translate(15px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  display: none;
}
